---
import type { Post } from "@myTypes/index";
import BaseLayout from "@layouts/BaseLayout.astro";
import LatestPost from "@layouts/LatestPost.astro";

const allPosts = Object.values(import.meta.glob<Post>('./posts/**/*.md', { eager: true }));
---
<BaseLayout>
  <div class="blog">
    <h1>ブログページ</h1>
    <p>プログラミングや読書についての記事を書いていく予定です。</p>
    <br/>
    
    <LatestPost posts={allPosts} />
  </div>
</BaseLayout>