---
import type { Frontmatter } from "@myTypes/index";
import BaseLayout from "./BaseLayout.astro";
import PostHeader from "@components/PostHeader.astro";

import '@styles/blog.css';

interface Props {
  frontmatter: Frontmatter
}

const { frontmatter } = Astro.props;
---
<BaseLayout>
  <PostHeader frontmatter={frontmatter} />
  <div class="post">
    <slot />
  </div>
</BaseLayout>